body{
    background-color: aqua;
}
*{
    box-sizing: border-box;
}
.blockLift{
    height: 500px;
    width: 50px;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.lift{
    position: absolute;
    height: 60px;
    width: 40px;
    border: 4px solid rgb(216, 23, 23);
    transition: 0.4s;
}

.blockAll {
    border: 4px solid black;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.blockJS {
    border: 4px solid rgb(194, 75, 75);
    height: 130px;
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blockResult {
    width: 200px;
    height: 30px;
    display: flex;
    align-self: center;
    border: 4px solid rgba(159, 17, 17, 0.51);
}

.inp {
    width: 100px;
    height: 30px;
    display: flex;
    align-self: center; 
}
.btn {
    width: 100px;
    height: 30px;
    display: flex;
    align-self: center;
}